<h1>Favorites</h1>

<table>
  <tr>
    <th>lab</th>
    <th>favorites</th>
  </tr>

    <% @labs.each do |lab| %>
    <tr>
      <td><%= lab.name %></td>
      <td><%=  Favorite.where(lab_id: (lab.id - 35)).size %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Ranking', admin_favorite_path(:admin_id, 1) %><br>

<%= link_to 'Back', '/' %>
