<h1>最新情報更新結果</h1>
<% if @update_checker %>
  <p>以下の様に最新情報の更新を行いました。<p>
  <p>Title: <%= @information.title %></p>
  <p>Content: <%= @information.content %></p>
<% else %>
  <p>最新情報の更新に失敗しました。</p>
<% end %>
<p><%= link_to '最新情報一覧に戻る', {:controller => "information", :action => "index"} %></p>
