<h1>質問情報一覧</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= link_to 'Show', {:controller => "questions", :action => "show", :id => question.id}, {:method => :get} %></td>
        <td><%= link_to 'Destroy', {:controller => "questions", :action => "destroy", :id => question.id}, :method => :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p><%= link_to '管理画面トップページに戻る', root_path(:admin_id) %></p>
