<h1>回答情報更新結果</h1>
<% if @update_checker %>
  <p>以下の様に回答情報の更新を行いました。<p>
  <p>Content: <%= @answers.content %></p>
<% else %>
  <p>回答情報の更新に失敗しました。</p>
<% end %>
<p><%= link_to '質問情報詳細を開く', {:controller => "questions", :action => "show", :id => @answers.question_id} %></p>
<p><%= link_to '質問情報一覧に戻る', {:controller => "questions", :action => "index"} %></p>
